<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/lib/onsenui/css/onsenui.css"/>
    <link rel="stylesheet" href="/lib/onsenui/css/onsen-css-components.min.css"/>
    <link rel="stylesheet" href="/lib/app/css/style.css"/>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/onsenui/js/onsenui.min.js"></script>
    <script src="/lib/onsenui/js/angular-onsenui.min.js"></script>
    <script src="/lib/app/js/libs.js"></script>
    <script>
      ons.bootstrap()
      .filter('capitalize', function() {
          return function(input) {
            return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
          }
      })
      .service('usersService', function() {
        var usersList = [];

        var addUser = function(newObj) {
          if( newObj instanceof User )
            usersList.push(newObj);
          else
            usersList.push(new User(newObj));
        };

        var getUsers = function(){
            return usersList;
        };

        var flush = function(){
          usersList = [];
        }

        return {
          addUser: addUser,
          flush: flush,
          getUsers: getUsers
        };

      })
      .controller('UsersController', function($scope, $http, usersService){
        $scope.loading = true;
        usersService.flush();
        $scope.users = usersService.getUsers();
        $http.get("/api/users.json")
        .then(function(response) {
            $scope.loading = false;
            angular.forEach(response.data, usersService.addUser);
        }, errorMessage);
      })
      .controller('UsersAddController', function($scope, $http, usersService){
        $scope.user = new User({});
        $scope.doCreate = function(){
          if( $scope.user.name && $scope.user.last ){
            usersService.addUser($scope.user);
          }
          $scope.myNavigator.popPage();
        }
      })
      .controller('SplitterController', function($scope) {
        $scope.page = 'home.html';
        $scope.pages = [
          {title: 'Home', url: 'home.html'},
          {title: 'Users', url: '/pages/users.html'},
          {title: 'Settings', url: 'settings.html'},
          {title: 'About', url: 'about.html'}
        ];
        $scope.load = function(page) {
          $scope.myNavigator.resetToPage(page).then(function(){
              pageLoader.left.close();
          });
            
        };
      });
    </script>
  </head>
  <body>
<ons-page>
    <ons-splitter var="pageLoader" ng-controller="SplitterController">
      <ons-splitter-side side="left" width="220px" collapse swipeable>
        <ons-page>
          <ons-list ng-repeat="page in pages">
            <ons-list-item ng-click="load(page.url)" tappable>
              {{page.title}}
            </ons-list-item>
          </ons-list>
        </ons-page>
      </ons-splitter-side>
      <ons-splitter-content page="main.html"></ons-splitter-content>
    </ons-splitter>
</ons-page>

<ons-template id="main.html">
  <ons-page id="main">
    <ons-navigator var="myNavigator" page='home.html'></ons-navigator>
  </ons-page>
</ons-template>

<ons-template id="home.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="pageLoader.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Main
      </div>
    </ons-toolbar>
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
      Swipe right to open the menu!
    </p>
  </ons-page>
</ons-template>

<ons-template id="settings.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="pageLoader.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Settings
      </div>
    </ons-toolbar>
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
      Swipe right to open the menu!
    </p>
  </ons-page>
</ons-template>

<ons-template id="about.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="pageLoader.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        About
      </div>
    </ons-toolbar>
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
      Swipe right to open the menu!
    </p>
  </ons-page>
</ons-template>
  </body>
</html>