<ons-page ng-controller="UsersController as cuser">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="pageLoader.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Users
    </div>
  </ons-toolbar>
  
  <div class="loader-block" ng-show="loading">
    <svg class="progress-circular progress-circular--indeterminate">
      <circle class="progress-circular__primary progress-circular--indeterminate__primary"/>
    </svg>
    <p class="loader-text">
      Please wait, content loading...
    </p>
  </div>

  <ons-list ng-repeat="user in users">
    <ons-list-item modifier="chevron" tappable>
      <div class="center">
        <span class="list-item__title">{{user.name | capitalize}} {{user.last | capitalize}}</span>
        <span class="list-item__subtitle">in: {{user.company}}</span>
      </div>
    </ons-list-item>
  </ons-list>

  <ons-fab ripple position="bottom right" ng-click="myNavigator.pushPage('/pages/actions/useradd.html')">
    <ons-icon icon="md-plus"></ons-icon>
  </ons-fab>
</ons-page>